$base-font-size: 16px;
$heading-font-size: 20px;
$blackcolor: #000000;
$redcolor: red;



  .no-border {
      border: 0; 
  }

  .float-left{
      float: left; 
  }

  .float-right{
    float: right;
}

.padding0 {
    padding: 0;
}